{% for message in Messages %}
{% if message.Role == 'user' or message.Role == 'system' %}
<start_of_turn>user
{{ message.Content }}<end_of_turn>
{% if loop.last %}
<start_of_turn>model
{% endif %}
{% elif message.Role == 'assistant' %}
<start_of_turn>model
{{ message.Content }}{% if not loop.last %}<end_of_turn>{% endif %}
{% endif %}
{% endfor %}